Package: oh-pipeline-ui
Version: ${VERSION}
Section: httpd
Priority: optional
Architecture: all
Depends: oh-tomcat-app
Maintainer: pete reisinger <p.reisinger@gmail.com>
Description: web ui for pipeline restful service
